I am going to be prioritising churn datasets which are associated with the telecom industry in this project.
The initial step for this project is to set up our database and a table inside that database, from which we are going to be using data from, for our model.
However, for this the most important factors need to be identified in relation to churn.

While scanning different datasets, the most important factors or rather the factors which are likely to impact churn outcome was determined to be relationship status,dependents,tenure,phone service,online security,tech support,Monthly charges and age

In [130]:
import pandas as pd
import sqlite3
import numpy as np

The process is to ETL(Extract-read the datasets,Transform-Convert to an appropriate format,Load- upload to a centralized sqlite database) the 3 different sources into a predefined sqlite table.

In [26]:
dataset1=pd.read_csv(r"C:\Users\kaile\Project2 files\Telco_customer_churn.csv\Telco_customer_churn.csv")
dataset2=pd.read_csv(r"C:\Users\kaile\Project2 files\telecom_customer_churn.csv\telecom_customer_churn.csv")
dataset3=pd.read_csv(r"C:\Users\kaile\Project2 files\train.csv")

Dataset 1

In [27]:
dataset1.head(5)
dataset1.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [28]:
dataset1=dataset1[['Partner','Dependents',"Tenure Months","Phone Service","Online Security","Tech Support","Monthly Charges","Senior Citizen","Churn Label"]]

In [5]:
conn = sqlite3.connect("customer_churn.db")
cursor=conn.cursor()

In [19]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    Partner TEXT,
    Dependents TEXT,
    Tenure_Months INTEGER,
    Phone_Service TEXT,
    Online_Security TEXT,
    Tech_Support TEXT,
    Monthly_Charges REAL,
    Senior_Citizen TEXT,
    Churn TEXT
)
""")

EDA

The purpose of this EDA is to transform the datasets into suitable formats for upload. We will not look at the quality of the datasets here.

In [35]:
dataset1 = dataset1[dataset1["Online Security"].isin(['Yes', 'No']) &
                   dataset1["Tech Support"].isin(['Yes', 'No'])]

In [90]:
dataset2.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [91]:
dataset2=dataset2[['Married',"Number of Dependents","Tenure in Months","Phone Service","Online Security","Premium Tech Support","Monthly Charge","Age","Churn Category"]]

In [129]:
dataset2.sample(5)

,Married,Number of Dependents,Tenure in Months,Phone Service,Online Security,Premium Tech Support,Monthly Charge,Age,Churn Category
4797,No,0,30,Yes,Yes,No,90.50,69,NaN
6975,Yes,0,3,Yes,No,No,80.30,37,Competitor
1595,Yes,0,67,Yes,Yes,Yes,111.05,51,NaN
2317,No,0,5,No,No,No,45.70,79,Competitor
5949,No,0,8,Yes,NaN,NaN,20.25,41,NaN

In [131]:
dataset2 = dataset2[dataset2["Online Security"].isin(['Yes', 'No']) &
                   dataset2["Premium Tech Support"].isin(['Yes', 'No'])]

In [134]:
dataset2["Senior Citizen"]=np.where(dataset2['Age']>65,'Yes','No')
dataset2["Churn"]=np.where(dataset2["Churn Category"].isna(),'No','Yes')
dataset2["Dependents"]=np.where(dataset2["Number of Dependents"]>0,'Yes','No')

In [143]:
dataset2=dataset2[['Married',"Dependents","Tenure in Months","Phone Service","Online Security","Premium Tech Support","Monthly Charge","Senior Citizen","Churn"]]
dataset2.sample(5)

,Married,Dependents,Tenure in Months,Phone Service,Online Security,Premium Tech Support,Monthly Charge,Senior Citizen,Churn
1573,Yes,Yes,40,No,No,Yes,60.30,No,No
2546,No,No,61,Yes,Yes,Yes,115.10,No,No
2712,Yes,No,12,Yes,No,No,53.65,No,Yes
6523,Yes,No,17,Yes,No,Yes,98.60,No,Yes
4239,Yes,No,40,Yes,No,No,97.10,No,Yes